
.head_info{
  color:#552C1F;

}

body {
  font-family: Caviar Dreams;
  margin-top: -10rem;
  padding: 10rem;
  color: #ffffff;
  background-color: rgb(25,30,34) !important;
}
#title{
  font-family:Quantify;
  color:#552C1F;
  text-align: center;
}
.element {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-radius: 0px;
  border-top-width: 3rem;
  border-top-style: solid;
  border-top-color: black;
  color:grey;
  text-decoration: none;
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
}
nav{
  text-align:center;
}

header nav a{
  border:1.5px;
  background-color: black;
  color: white;
  border-radius:none;
  padding:0.5rem;
  display:inline-block;
  width:150px;
  margin-bottom: 2rem;
  text-decoration: none;
}
section nav a{

  padding:0.5rem;
  display:inline-block;
  width:150px;
  margin-bottom: 0.4rem;
  color:white;
  font-weight:bold;
  font-size:20px;
  text-decoration: none;
}

h1 {
  font-family: Caviar Dreams;
  font-size: 35px;
}

h6 {
  font-family: Caviar Dreams;
  font-size: 35px;
}

h2 {
  color:white;
  margin-top:-2.5rem;
  text-align: center;
}

h0 {

  margin-top: 1rem;
  font-size: 25px;

}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-family: Caviar Dreams;
  margin-top: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: lighter;
  color:white;
}

p2 {
  font-family: Caviar Dreams;
  margin-top: 0;
  font-size: 17px;
  font-style: normal;
  font-weight: lighter;
  color:white;
}

code {
  background-color: #EBF4F3;
  padding: 0.5rem;
  display: block;
}


#nav_one {
  margin-bottom: 90rem;
}
#fonts_type{
  font-family:helvetica;
}


#default-but{
  font-family:Caviar Dreams;
  display: inline-block;
  text-transform: uppercase;
  font-size:12px;
  padding: 0.5rem;
  color: white;
  background-color: black;
  border-radius:0px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-left:3rem;
}

#picone{
  margin-left:none;
  margin-bottom: 2rem;
  display: inline-block;
}
#picone img{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  width: 30%;
  height:auto;
}

#style_h2{
  text-align: left;
}
.num_lists li{
  margin-left:3rem;
  color:white;
}

#textlink{
  text-transform: uppercase;
  color:#A77760;
}
#textlink h4{
  margin-left:3rem;
}

.para{
  font-size:15px;
  margin-left:3rem;
  margin-right:350px;
  color:#333333;
}
.num_lists{
  font-family: Monaco;
  color:#64311E;
  font-weight:bold;
  font-size:15px;
}

#start_nav_bar{
  margin-top:-25rem;
  margin-bottom: 25rem;
}

#citations{
  margin-top:3rem;
}
#store-name{
  font-family:Caviar Dreams;
  text-align:center;
  margin-top:0rem;
  margin-left: 0rem;
  border-bottom: 10rem;
  font-size:30px;
  color:white;
}
#product-background img{
    margin-left:-5rem;
    margin-top:-3rem;
}

.navbar {
    background-color: black;
}

.header p {
    font-size:15px;
    color:white;
}
.header {
    font-family: 'Mansalva';
    background: black;
    padding-bottom: 10px;
    border: 1px;
    text-align: right;
    padding-right: 60px;
    background-size: 20%;
    font-size: 15px;
}
.header2 {
  text-decoration: none;
  color: white;
    font-family: 'Mansalva';
    background: black;
    padding-bottom: 10px;
    border: 1px;
    text-align: left;
    padding-right: 450px;
    background-size: 20%;
    font-size: 25px;
}


.header a {
    margin-left: 5%;
    font-size: 15px;
    color: white;
    text-decoration: none;
}


.header a:hover {
    color: grey;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/
nav a:hover, nav a:focus {
  text-decoration: none;
}
#nav_link:hover{
  color:white;
  background-color: grey;
  border:0px solid white;
}

#nav_link:focus{
  color:grey;
}
#nav_items li a:hover{
    color:white;
    text-decoration: none;
    text-decoration-style:solid;
}
#submit_bu:hover, #submit_bu:focus{
  border:1.5px solid brown;
}

#textlink:hover{
  color:#552C1F;
}
#product_info:hover{
  color:grey;
}
#product_info:focus{
  color:grey;
}
#default-but:hover, #default-but:focus{
  background-color:grey;
}
.button-nav {
  display: inline-block;
  padding: 0.9rem;
  color: white;
  text-align: center;
  background-color: black;
  text-decoration: none;
  border-radius: 0px;
  border-color: white 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.link {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.button-nav:hover, .button-nav:focus {
  background-color: grey;
}
